
<div class="wrapper ">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <!-- <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div> -->

    <!-- Login Form -->
    <form class="form-signin" (ngSubmit)="login(user)"  #loginForm="ngForm">
      <h1 class="h3 mb-3 font-weight-normal">Login In</h1>
      
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email" [(ngModel)]="user.email" >
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" [(ngModel)]="user.password">
      
      <input class="fadeIn fourth" type="submit" value="login" [disabled] = "!loginForm.form.valid">
    </form>
    <p>
     <a class="fadeIn fifth" routerLink="/register">Register</a>
     
    </p>

  </div>
</div>